<!-- employees/employee_edit.html -->

{% load static %}

<link rel="stylesheet" href="{% static 'employees/employee.css' %}">

<!-- Edit Employee Form Content -->
<div class="edit-employee-form">
    <h2>Edit Employee</h2>

    <form id="editEmployeeForm">

        <div class="form-group">
            <label for="edit-employee-id">Employee ID:</label>
            <input class="readonly-field" type="text" id="edit-employee-id" name="employee_id" value="{{ employee.id }}" readonly >
        </div>
        
        <div class="form-group">
            <label for="edit-ename">Name:</label>
            <input type="text" id="edit-ename" name="ename" value="{{ employee.name }}" required>
        </div>

        <div class="form-group">
            <label for="edit-ephone">Phone:</label>
            <input type="tel" id="edit-ephone" name="ephone" pattern="[0-9]{10}" title="Please enter a valid 10-digit phone number" value="{{ employee.phone }}">
        </div>

        <div class="form-group">
            <label for="edit-eemail">Email:</label>
            <input type="email" id="edit-eemail" name="eemail" value="{{ employee.email }}">
        </div>

        <div class="form-group">
            <label for="edit-edepartment">Department:</label>
            <input type="text" id="edit-edepartment" name="edepartment" value="{{ employee.department }}">
        </div>

        <!-- Placeholder for including the JavaScript file -->
        <script src="{% static 'employees/employee.js' %}"></script>

        <button type="button" onclick="submitEditForm()" style="margin-left: 0px;">Save Changes</button>
    </form>
</div>
